button {
  background-color:white;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

#user_submit_size {
  height: auto;
  width: auto;
  background-color: black;
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.4em;
}