
body{
  background-color: black;
  text-align: center;
  font-family: 'Franklin Gothic Medium';
  -webkit-font-smoothing : none;
  -moz-font-smoothing: none;
}
div{
  margin: 0;
  padding-bottom: 0;
  border: 0;
}
.gameboard{
  text-align: center;
}
table{
  margin-left:auto; 
  margin-right:auto;
  border: 2px solid white;
}
td:hover{
  background-color: black;
}
.title{
  text-align: center;
  color: white;
}
.generations{
  color: white;
}
.toolbar{
  color: white;
}
.alive {
    height: 15px;
    width: 15px;
    background-color: black;
  }
.dead{
  height: 15px;
  width: 15px;
  background-color: white;
}

button{
  color: white;
  background-color: black;
  border: 1px solid white;
  height: 30px;
  width: 100px;
}
button:hover{
  color:black;
  background-color: white;
  height: 30px;
  width: 100px;
}


